@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 8px;
  height: 4px;
}
::-webkit-scrollbar-track {
  background-color: #ebebeb;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 5px;
  border-radius: 10px;
  background: #2196f3;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
input:-webkit-autofill::first-line,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #ffffff inset !important;
  -webkit-text-fill-color: #333 !important;
}

.dark .form-wrap.form-builder .frmb li.form-field {
  background-color: #333 !important;
}

.dark .form-builder-container textarea,
.dark .form-builder-container input,
.dark .form-builder-container select {
  background-color: #333 !important;
  color: #ffffff !important;
  border-color: #9999 !important;
}

.dark .form-wrap.form-builder .frmb .field-label,
.dark .form-wrap.form-builder .frmb .legend {
  color: #ebebeb !important;
}

.dark .form-builder-container button {
  color: #ffffff !important;
}

.dark .form-wrap.form-builder .frmb-control li:hover {
  background-color: #1a1a1a;
}
.dark .form-wrap.form-builder .frmb-control li {
  background-color: #333;
  color: #ffffff;
}
