@tailwind base;
@tailwind components;
@tailwind utilities;

.input-label {
  @apply block mb-2 font-medium leading-5 text-start capitalize text-gray-700 dark:text-white;
}

.input-box {
  @apply border border-gray-300 bg-white placeholder:capitalize dark:border-[#4D4D4D] dark:placeholder:text-white dark:bg-transparent focus:border-primary outline-none block w-full p-2.5 leading-5 text-gray-700 dark:text-white rounded-md capitalize;
}

.error-msg {
  @apply text-start whitespace-nowrap text-sm text-red-500 mt-1 capitalize;
}

.primary-btn {
  @apply md:text-base text-sm bg-primary dark:bg-[#001750] dark:border-[#001750] dark:hover:text-white text-white px-5 py-2 rounded-md font-medium cursor-pointer hover:!bg-transparent hover:text-primary transition-all duration-500 border-primary border focus:outline-none outline-none;
}

.primary-btn-outline {
  @apply md:text-base text-sm bg-white dark:bg-transparent text-primary dark:border-[#001750] dark:text-white dark:hover:bg-[#001750] px-5 py-2 rounded-md font-medium cursor-pointer hover:bg-primary hover:text-white transition-all duration-500 border-primary border focus:outline-none;
}

.secondary-btn {
  @apply md:text-base text-sm bg-slate-600 text-white px-5 py-2 rounded-md hover:bg-slate-700 font-medium cursor-pointer me-2;
}

::-webkit-scrollbar {
  width: 8px;
  height: 4px;
}
::-webkit-scrollbar-track {
  background-color: #ebebeb;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 5px;
  border-radius: 10px;
  background: #2196f3;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
input:-webkit-autofill::first-line,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #ffffff inset !important;
  -webkit-text-fill-color: #333 !important;
}

.dark .form-wrap.form-builder .frmb li.form-field {
  background-color: #333 !important;
}

.dark .form-builder-container textarea,
.dark .form-builder-container input,
.dark .form-builder-container select {
  background-color: #333 !important;
  color: #ffffff !important;
  border-color: #9999 !important;
}

.dark .form-wrap.form-builder .frmb .field-label,
.dark .form-wrap.form-builder .frmb .legend {
  color: #ebebeb !important;
}

.dark .form-builder-container button {
  color: #ffffff !important;
}

.dark .form-wrap.form-builder .frmb-control li:hover {
  background-color: #1a1a1a;
}
.dark .form-wrap.form-builder .frmb-control li {
  background-color: #333;
  color: #ffffff;
}
